@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F5F4;

}

.container {
    max-width: 1180px;
    margin: auto;
}



/* header css start */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    align-items: center;
}

header nav .menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.1;
}

header nav .account {
    display: flex;
    align-items: center;

}
header nav .account .profile a:hover{
  background-color: black;
   color:white;
}

header nav .menu ul li {
    display: inline;
    margin-right: 30px;
}

header nav .menu ul li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    text-decoration: none;
}

header nav .menu ul li i {
    color: #757575;
}

header .container nav .menu ul li a:hover {
    color: black;
}

header nav .menu ul li .active {
    color: black;
}

header nav .menu ul li a:hover+i {
    color: black;
}

.account a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C3DCE3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    text-decoration: none;
    margin-right: 10px;
}

.account span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-right: 30px;

}

.account .profile {
    display: flex;
    align-items: center;
    flex-grow: 0.1;
    justify-content: space-between;
}

.account button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.account button:hover{
    
}

/* header css end */



/* part2body css start */

.part2body .container h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    color: #2B788B;
}

.part2body .container .practiceenglish {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.part2body .container h1 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
}

.part2body {
    margin-top: 97.61px;
}

.part2body .container h4 {
    margin-bottom: 24px;
}

.part2body .container h1 {
    margin-bottom: 30px;
}

.part2body a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 22px;
    gap: 19px;
    width: 165px;
    height: 44px;
    background: #C3DCE3;
    border-radius: 100px;
}

.part2body a:hover{
    background-color: black;
    color:white;    
}

.popularwords {
    display: flex;
    justify-content: start;
    /* justify-content: space-between; */
    margin-top: 48.78px;
}

.popularwords span {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.part2body .popularwords hr{
    margin-left: 48.78px;
  margin-right: 52.73px;
}

.popularwords #pw {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
    margin-left: 25.5px;
}

.popularwords .minigames #mg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
    /* margin-right:-950px; */
}

.pictures #console {
    position: absolute;
    width: 143px;
    height: 171px;
    right: 688.45px;
    top: 371px;
}

.pictures #boy {
    position: absolute;
    width: 608.73px;
    height: 507.28px;
    right: 168.45px;
    top: 196px;

}

.pictures #plant {
    position: absolute;
    width: 475px;
    height: 571px;
    top: 187px;
    left: 1044px;
    padding-right: 163px;
}


/* part2body css end */


body .linethree {
    margin-top: 131.61px;
    border: none;
}


/* part3body css start */
.part3body {
    max-width: 1920px;
    background-color: white;
}

.part3body .container {
    background-color: white;
    display: flex;
}

.part3body .container img {
    margin-top: 77.5px;
}

.part3body .container .section3 h1 {
    width: 474.46px;
    height: 96px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 121.5px;
}

.part3body .container .section3 h4 {
    width: 396.89px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-top: 30px;
}


.part3body .container .section3 .shoes {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #945069;
    width: 129px;
    height: 112px;
    border-radius: 14px;
    background: #F2D4DC;
    margin-top: 50px;
}

.part3body .container .section3 .shoes h3 {
    margin-left: -100px;
    margin-top: 70px;
}

.part3body .container .section3 .shoes img {
    margin-bottom: 150px;
}

.part3body .container .section3 .audio {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    width: 172px;
    height: 112px;
    border-radius: 14px;
    background: #C3DCE3;
    margin-left: 155px;
    margin-top: -111px;
}

.part3body .container .section3 .audio h3 {
    margin-left: -100px;
    margin-top: 70px;
}

.part3body .container .section3 .audio img {
    margin-bottom: 150px;
    margin-left: 45px;
}

/* part3body css end */